.restaurantOwnerAndNumber {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.restaurantCard {
    width: 300px;
    height: 325px;
    margin: 0;
    position: relative;
}

.ui.card {
    width: 300px;
    height: 325px;
    margin: 0;
}

.ui.card:hover {
    background-color: #d8d8d8;
}

.ui.fade.animated.button.addRestaurantButton {
    width: 50px;
    height: 36px;
    left: 251px;
    top: -326px;
    display: none;
}

.meta .date {
    padding-top: 8px;
    padding-bottom: 8px;
}